{{>header}}
{{>nav}}
<section class="container my-5">
    <h3>search result</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>dueDate</th>
            <th>status</th>
            </tr>
        </thead>
        <tbody>
            {{#if hasData}}
            {{#each results}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{dueDate}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="5">No results</td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</section>
{{>footer}}